/* CSS Document */
body
{
	text-align:center;
	
	padding:0 0 0 0;
	margin:0 0 0 0;
	height:100%; /* Задаём 100% высоту для html и body */
    position:relative; 
}
#list
{
	margin-left: auto; 
	margin-right: auto; 
	
}
#container
{
	margin-left: auto; 
	margin-right: auto; 
	width:1024px;
	height: 800px;
	

}
#container2
{
	margin-left: auto; 
	margin-right: auto; 
	width:1024px;
	height: 500px;
	

}
#up
{
	width:1024px;
	height:140px;


}
#up
{
	width:1024px;
	height:105px;


}
#upleft
{
	width:288px;
	height:105px;
	float:left;
	background-image:url("./topleft.bmp");
}
#upleftgroup
{
	margin-top:35px;
}

#uprigpt
{
	width:680px;
	height:105px;
	background-image:url("./toprigpt.png");
	float:right;
}
#middle
{
	width: auto;
	height: 600px;
	
}
#down
{
	width:1024px;
	height: 50px;
	background-image:url("./sketch_web2.png");
	background-repeat:no-repeat;
    position:relative;
	clear:both;
	float:left;
	width:100%;
	
}
#left
{
	width:200px;
	height:540px;
	float:left;
	background-image:url("./leftmenu.png");
	background-repeat:no-repeat;
	background-position: right;
}
#leftwelk
{
	width:200px;
	height:540px;
	float:left;
	background-image:url("./leftpicwelc.png");
	background-repeat:no-repeat;
	background-position: right;
}
#leftadminlist
{
	width:200px;
	height:540px;
	float:left;
	background-image:url("./leftmenuofadminlist.png");
	background-repeat:no-repeat;
	background-position: right;
}
#leftconcl
{
	margin-top:150px;
}
#lefttable
{
	margin-top:140px;
}
#lefttablelist
{
	margin-top:130px;
}
#lefttab
{
	width:200px;
	height:500px;
	float:left;
	background-image:url("./leftmenutable.png");
	background-repeat:no-repeat;
	background-position: right;
}
#content
{
	width:685px;
	text-align:center;
	float:left;
	height: auto;
}
#listname
{
	width:400px;
	height:46px;
	text-align:center;
	background-image:url("./list.png");
	background-repeat:no-repeat;
	margin-left:60px;
	margin-top:10px;
	margin-bottom:10px;
}
#listdel
{
	width:61px;
	height:19px;
	text-align:center;
	background-image:url("./listeldel.png");
	background-repeat:no-repeat;
}
#listimpruve
{
	width:61px;
	height:19px;
	text-align:center;
	background-image:url("./listelimpruv.png");
	background-repeat:no-repeat;
}
#button2
{
	border:none;
	width:61px;
	height:19px;
	background-image:url("./listelcreate.png");
	background-repeat:no-repeat;
}
#selects
{
	width:70px;
	border-color:#da251d;
	border-bottom-width:medium;
	border-left-width:medium;
	border-right-width:medium;
	border-top-width:medium;
}
#selects1
{
	width:140px;
	border-color:#da251d;
	border-bottom-width:medium;
	border-left-width:medium;
	border-right-width:medium;
	border-top-width:medium;
}
#button1
{
	border:none;
	width:136px;
	height:30px;
	background-image:url("./button1.png");
}
#scroll
{
	width:620px;
	overflow: auto;
	margin-left:10px;
}
#right_pic
{
	width:130px;
	height:500px;
	float:right;
	background-image:url("./rightpic.png");
	background-repeat:no-repeat;
}
p
{
	font-style: italic;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}
#sr
{
	font-style: italic;
	color: #003!important;
	font-size: 30px;
	font-size: 22px;
	font-family: "Times New Roman", Times, serif;
	 font-style: italic; 
}
#okno
{
	
	color:#000;
	font-size: 22px;
	font-family: Arial, Helvetica, monospace;
	
}
#info
{
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003;
}
#home
{
	width:240px;
	height: 200px;
	background-image:url("./home.png");
	float:left;
	line-height: 200px;
}
h1
{
	font-size: 36px;
	font-style: italic;
	font-family: "Courier New", Courier, monospace; 
}
form
{
	text-align:center;
	
}